<a href="https://colab.research.google.com/github/rabinbatia-sudo/HARP-150/blob/main/Rabin_Batia_Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#this should not run
print("Hello World!")

Hello World!

In [ ]:
#Variable types
#Integers - numbers
#Strings - anything in quotations
#Float - decimals
#Boolean - true or false

type(5)
type("Hello World!")
type(True)

bool

In [ ]:
#Data structures - strings, lists, dictionaries
name = "Batia" #name is a variable
print(name)
name = "Bram"
print(name)
name = 6
#Python can change a variable type
#No spaces in variable names, can start with a letter or underscore but not a number, cannot contain keywords, can only contain numbers letters and underscores

Batia
Bram

In [ ]:
brother_name = "Bram"
mother_name = "Adele"
father_name = "Elliott"

In [ ]:
print("Hello World!".count("o"))
upper = brother_name.upper()
lower = brother_name.lower()
print(upper)
print(lower)
user_name = input("What is your name?")
print(user_name.lower())
my_name = "Batia"
last_name = "Rabin"
print(my_name + " " + last_name)
len(user_name)

2
BRAM
bram
What is your name?Batia
batia
Batia Rabin

5

In [ ]:
#Exercise 1
phone_type = "iPhone"
phone_number = "11"
phone = phone_type + " " + phone_number
phone_upper = phone.upper()
len(phone)

9

In [ ]:
#math signs are operators
#% gives remainder (modulus)
#** is x to the power of y
#// divides and rounds down
#Exercise 2
fern = 5
carrot = 2
tulips = 6
bonsai_tree = 8
cabbage = 3
first_order = ((fern * 2) + (bonsai_tree *5) + tulips)
print(first_order)
second_order = (bonsai_tree - (tulips/carrot))
print(second_order)
3459%2 #3459 is odd

56
5.0

1

In [ ]:
#Post-lab exercises

#Question 1
#a - string
#b - integer
#c - float
#d - boolean
#e - none of the types, if it had had quotations it would have been a string

My name is Batia

1

In [ ]:
#Question 2
my_name = "Batia"
print("My name is " + my_name)
new_my_name = "My name is " + my_name
len(new_my_name)

My name is Batia

16

In [ ]:
#Question 3
years = 2021 - 2003
days = ((years * 365) + 249)
days%2
#The number of days I've been alive is odd

1

In [ ]:
#Question 4
year_now = int(input("What year is it now?"))
year_of_birth = int(input("What year were you born?"))
print(year_now - year_of_birth)

What year is it now?2022
What year were you born?2003
19

In [ ]:
#Question 5
first_name = input("What is your first name?")
last_name = input("What is your last name?")
upper_first_name = first_name.upper()
upper_last_name = last_name.upper()
lower_first_name = first_name.lower()
lower_last_name = last_name.lower()
print(upper_first_name + " " + upper_last_name)

What is your first name?Batia
What is your last name?Rabin
BATIA RABIN