<a href="https://colab.research.google.com/github/rabinbatia-sudo/HARP-150/blob/main/Rabin_Batia_Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dictionaries hold both keys and values
#They us curly brackets
#Cannot have the same key twice, store things in key-value pairs
name_of_dictionary = {"Key1": "Value1",
                      "key2": "Value2",
                      "Key3:": "Value3",
                      "Key4": "Value4"}
#Dictionaries are mutable, ordered, and don't contain duplicates
dict_names = {"cousin1": "Alex",
             "cousin2": "Phil",
             "cousin3": "Jill"}
print(dict_names["cousin2"])
#no duplicate keys are allowed, the most recent one under teh key name will be the one accessed
#keys can be reassigned
dict_names["cousin2"] = "Tara"
#keys can also be added, they will be added at the end
dict_names["cousin4"] = "Phil"
print(dict_names)
#can check if something is in the dictionary we can use the in value, will return true or false
"cousin3" in dict_names
#length function can be used to show the size of the dictionary
len(dict_names)
#can store lists and dictionaries in a dicionary, nested dictionaries
#used alot to count how often something shows up

Phil
{'cousin1': 'Alex', 'cousin2': 'Tara', 'cousin3': 'Jill', 'cousin4': 'Phil'}

True

In [ ]:
#Exercise 1
facts = {"name": "Batia Rabin",
         "age": "19",
         "height": "5'5",
         "gender": "female",
         "religion": "jewish",
         "grade": "freshman"}
facts["sexuality"] = "aroace"
print(len(facts))
#if there are lists, than getting the length of an index it will say how many values are at the index
#if getting the length of the dictionary than it will give you how many keys there are

7

In [ ]:
#pop() removes a specific key-value pair
#popitem() removes last entry
#del my_dict["key2"] removes specific key-value pair
#clear() clears the whole dictionary, if del is used after will delete the dictionary, if trying to print it will return an empty dictionary
#can use dict.fromkeys(list/set/tuple, another value) to create a dictionary
#can get() the same as asking for what is at a key but if it doesn't exist will give back none
#can use update() to add another value

In [ ]:
#Exercise 2
family = {"Bram": 13,
          "Adele": 61,
          "Elliott": 57}
print(family["Bram"])
print(family.get("Phil"))
family["Tara"] = 1
family.update({"Rita": 96})
del family["Rita"]
print(family)
#pop() returns the thing that you just deleted

13
None
{'Bram': 13, 'Adele': 61, 'Elliott': 57, 'Tara': 1}

In [ ]:
#Question 1
#Programmers use dictionaries because it's an easy way to count how often something shows up in a data set
#Key-value pair: the key is the name for the value(s) which is the data set

In [ ]:
#Question 2
countries = {"USA": "Washington DC",
             "Israel": "Jerusalem",
             "France": "Paris",
             "Russia": "Moscow",
             "China": "Beijing"}
countries.update({"Japan": "Tokyo"})
print(countries)

{'USA': 'Washington DC', 'Israel': 'Jerusalem', 'France': 'Paris', 'Russia': 'Moscow', 'China': 'Beijing', 'Japan': 'Tokyo'}

In [ ]:
#Question 3
classes = {"UU 209": "Harp 150-B1",
           "S1 149": "Phil 150-A0",
           "LH 002": "PLSC 113-A0",
           "CW 330": "Univ 101Q-01"}
classes.pop("CW 330")
classes.clear()
print(classes)

{}

In [ ]:
#Question 4
grades = {"grades class 1": [89, 95, 100, 93],
          "grades class 2": [90, 92, 87, 85],
          "grades class 3": [100, 98, 94, 90],
          "grades class 4": [99, 86, 96, 91]}
grades_class_1 = grades["grades class 1"]
grade_class_1 = grades_class_1[2]
grades["grades class 1"] = grade_class_1
print(grades)

{'grades class 1': 100, 'grades class 2': [90, 92, 87, 85], 'grades class 3': [100, 98, 94, 90], 'grades class 4': [99, 86, 96, 91]}

In [ ]:
#Question 5
royals = {"emp1" : {"name": "Elizabeth", "salary": 10000},
          "emp2" : {"name": "Charles", "salary": 8000},
           "emp3" : {"name": "William", "salary": 7000},
            "emp4" : {"name": "Harry", "salary": 3000}}
del royals["emp1"]
royals["emp2"]["salary"] = 10000
royals["emp1"] = royals.pop("emp2")
royals["emp2"] = royals.pop("emp3")
royals["emp3"] = royals.pop("emp4")
print(royals)

{'emp1': {'name': 'Charles', 'salary': 10000}, 'emp2': {'name': 'William', 'salary': 7000}, 'emp3': {'name': 'Harry', 'salary': 3000}}