<a href="https://colab.research.google.com/github/rabinbatia-sudo/HARP-150/blob/main/Rabin_Batia_Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lists, Tuples, and Sets
#lists are mutable (changeable), ordered, can have duplicates, any data type, nested (list of lists), use brackets, usually used because it's mutable
num_list = [1, 2, 3, 4, 5]
list_nums = [5, 4, 3, 2, 1]
num_list == list_nums
#gives false
#the == is for equivalency, it's a boolean

False

In [ ]:
#indexing lists
color_list = ["red", "green", "blue", "yellow", "purple", "black"]
print(color_list[0])
#index numbers start with zero
color_list.index("green")
#gives the number of the index
#if you try to get an index that's not in the list you get an error, index doesn't exist
#can split lists
print(color_list[2:5])
print(color_list[:3])
#this can also be done with strings
name = "Selena Gomez"
print(name[4:6])
#takes from the start number to the number before the end number
#can also find the length of lists
list_length = len(color_list)
print(list_length)
#can also do math things with lists of integers, sum adds them all together, min finds lowest number, max finds highest
my_nums = [34, 53, 22, 64, 82, 11]
print(sum(my_nums))
print(max(my_nums))
print(min(my_nums))
#can have the name of a variable at the bottom and it will print the variable, not suggested to use, but is essentially the same result

red
['blue', 'yellow', 'purple']
['red', 'green', 'blue']
na
6
266
82
11

In [ ]:
#Exercise 1
days_of_the_week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
print(days_of_the_week.index("Monday"))
print(days_of_the_week[4])

1
Thursday

In [ ]:
#Exercise 2
list_of_nums = [13, 19, 22, 62, 58, 46]
list_length = len(list_of_nums)
print(list_length)
new_nums = list_of_nums[3:5]
print(new_nums)
print(sum(list_of_nums))
print(min(list_of_nums))
print(max(list_of_nums))

6
[62, 58]
220
13
62

In [ ]:
#adding to a list, add to the end
color_list = ["red", "green", "blue", "yellow", "purple", "black"]
color_list.append("grey")
#this will add it to the end
color_list.insert(3, "pink")
#this will add it at index 3
print(color_list)
#sometimes if you run the same cell a bunch of times that has append, you can get the thing that is getting appended a bunch of times at the end

['red', 'green', 'blue', 'pink', 'grey', 'yellow', 'purple', 'black', 'grey', 'grey']

In [ ]:
#two lists can be added together with the extend method
colors_1 = ["red", "green", "blue"]
colors_2 = ["yellow", "orange", "purple"]
colors_1.extend(colors_2)
print(colors_1)

['red', 'green', 'blue', 'yellow', 'orange', 'purple']

In [ ]:
#can remove from a list
colors_list = ["red", "green", "blue", "yellow", "purple", "black"]
colors_list.remove("yellow")
#will remove the first instance of it not all of it in the list
#can remove a specific index with pop()
colors_list.pop(0)
colors_list.pop() #will take the last index

In [ ]:
#Exercise 3
my_nums = [1, 2, 3, 4, 5]
my_nums.append(6)
my_nums.insert(0, 0)
new_nums = [7, 8, 9]
my_nums.extend(new_nums)
my_nums.remove(5)
my_nums.pop(5)
my_nums.pop()
print(my_nums)

[0, 1, 2, 3, 4, 7, 8]

In [ ]:
#tuples, don't change (immutable), ordered, use parantheses, can convert a list into a tuple
#tuple(colors_list)
#protecting data by being immutable, have count and index, that's it
days_week = ("Sun", "Mon", "Tues", "Wednes", "Thurs", "Fri", "Satur")
days_week[4]
#indexing can also be done in reverse, last thing would be -1, and first would be how many there that negative
today = days_week[4]
print(f"It is {today}day")
#it is the same as concatenation

It is Thursday

In [ ]:
#Exercise 4
names_family = ("Bram", "Adele", "Elliott", "Tara", "Alex", "Jill", "Phil")
family_member = names_family[3]
print("I love " + family_member)
print(f"I love {family_member}")

I love Tara
I love Tara

In [ ]:
#set, unordered, do not contain duplicates, use squiggly brackets, can't be indexed, uses less memory, used to get rid of duplicates
#can convert lists to sets
#set(colors_list)
nums = [1, 2, 2, 2, 3, 3, 3, 4, 4, 4]
nums_set = set(nums)
print(nums_set)
#can find the difference between two groups
#one_set.difference(another_set), finds the difference
#can combine two sets
#one_set.union(another_set), joins them together in no particular order

{1, 2, 3, 4}

In [ ]:
#Question 1
#1. False
#2. False
#3. True

In [ ]:
#Question 2
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
nums.append(10)
nums.insert(0, 0)
nums.remove(9)
nums.pop(7)
new_nums = [11, 12, 13]
nums.extend(new_nums)
length_of_nums = len(nums)
print(nums)
print(length_of_nums)

[0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13]
12

In [ ]:
#Question 3
games = ["monopoly", "settlers of catan", "risk", "scrabble", "ticket to ride"]
tuple(games)
print(games[-2])

scrabble

In [ ]:
#Question 4
foods = ["raisins", "bananas", "raisins", "kiwis", "kiwis", "grapes"]
set_foods = set(foods)
print(set_foods)

{'bananas', 'raisins', 'grapes', 'kiwis'}

In [ ]:
#Question 5
car_companies = {"Toyota", "BMW", "Ford", "Jeep", "Tesla"}
places = {"London", "Versailles", "Los Angeles", "New York", "Paris", "Tokyo"}
places.add("Venice")
places.pop()
interaction = places.issubset(car_companies)
print(interaction)
difference = places.difference(car_companies)
print(difference)
car_companies.remove("BMW")
both = car_companies.union(places)
print(both)

False
{'Versailles', 'Paris', 'London', 'New York', 'Tokyo', 'Venice'}
{'Ford', 'Versailles', 'Paris', 'Toyota', 'London', 'New York', 'Tokyo', 'Venice', 'Jeep', 'Tesla'}

In [ ]:
#Quesion 6
games = ("Monopoly", "Settlers of Catan", "Risk", "Scrabble", "Ticket to Ride")
game = games[1]
print(f"My favorite game is {game}.")

My favorite game is Settlers of Catan.